block config
    -var title = 'gulpjs'
<!DOCTYPE html>
html(lang="en")
    block head
        include _head
    body
        block body
        block footer
        block scripts
            include _scripts